@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 125vh;
    background-image: url('../images/caution-tape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.rectangle {
    background-color: black;
    border-radius: 25px;
    width: 600px;
    max-width: 100%;
    max-height: 100vh;
    padding: 25px;
    border: 1px solid #fff;
    position: relative;
    text-align: center;
}

img {
    opacity: 0.7;
    width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Merriweather Sans', sans-serif;
  color: #fff;
}

.btn {
    background-color: #571ce0;
    border: none;
    color: #fff;
}

h2 {
    margin-top: 20px;
    font-size: 120px;
}

h3 {
    font-size: 60px;
}

p {
    font-size: 28px;
}
.btn[disabled]:hover {
    cursor: not-allowed;
}

.btn-hover:hover {
    background-color: #ffbb59;
    border: none;
    color: black;
    cursor: pointer;
}

.social-links {
    font-size: 1.25rem;
}
a {
    color: #571ce0;
}
a:hover {
    color: #ffbb59;
    cursor: pointer; 
}

@media (max-width:600px) {
    h2 {
        margin-top: 30px;
        font-size: 50px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    p {
        font-size: 18px;
        margin-bottom: 0;

    }
        
        
    }
}
