@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}

.btn {
    background-color: #571ce0;
    border: none;
    color: #fff;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

.btn-hover:hover {
    background-color: #ffbb59;
    border: none;
    color: black;
    cursor: pointer;
}

.hide {
    display: none;
}

strong {
    color: red;
}

a {
    font-size: 18px;
}

/* Home Section Styles */

#home-section {
    background-color: black;
    border-radius: 25px;
    width: 600px;
    max-width: 80%;
    padding: 25px;
    border: 1px solid #fff;
}

.home-container {
    margin: 20px 0 20px 0;
}

#heading {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#home-section p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-block {
    width: 100%;
    margin: 8px 0;
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

/* Start Quiz Section Styles */

#quiz-game-section {
    background-color: black;
    border-radius: 25px;
    width: 800px;
    max-width: 80%;
    padding: 10px 25px 10px 25px;
    border: 1px solid #fff;
}

#progress-bar {
    float: left;
}

.progress-bar {
    background-color: #ffbb59;
}

#score-display {
    float: right;
    padding-top: 10px;
}

#score {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

#questions-area {
    text-align: center;
    clear: both;
    padding-top: 30px;
}

#question {
    font-size: 20px;
}

#quiz-game-section .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
}

.ans-btn:hover {
    background-color: #ffbb59;
    border: none;
    color: black;
    cursor: pointer;
}

.btn-correct {
    background-color: rgb(143, 199, 59);
    border: none;
    color: #fff;
}

.btn-incorrect {
    background-color: rgb(250, 25, 25);
    border: none;
    color: #fff;
}

#exit-game {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: black;
    border: 1px solid #571ce0;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 8px
}

#exit-game:hover {
    background-color: #ffbb59;
    border: 1px solid #ffbb59;
    color: black;
}

/* Modal Content Styles */

.modal-content {
    background-color: black;
    border: 1px solid #fff;
}

.modal-footer .btn {
    font-weight: 400;
    text-transform: uppercase;
}

.modal-footer {
    padding-top: 1px;
    padding-bottom:1px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    letter-spacing: 2px;
    padding-top: 6px;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Rules Section Modal */

strong {
    color: red;
    text-transform: uppercase;
}
li {
    font-size: 14px;
}

/* Highscores Section Modal */

.table {
    color: #fff;
}

.table th {
    text-transform: uppercase;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
}

tbody {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

/* Media Queries */
    @media (max-width: 646px) {
        #home-section p {
        font-size: 15px;
    }
}

    @media (max-width: 474px) {
        #heading {
        font-size: 2.8rem;
    }
}

    @media (max-width: 320px) {
        #heading {
        font-size: 2.5rem;
    }

    @media (hover: none) {
        .ans-btn:hover {
            background-color: #c20047;
            color: #fff;
        }
    }

    @media (max-width: 600px) {
        #question {
            font-size: 18px;
        }

        #quiz-section .btn {
            font-size: 16px;
        }

        #exit-section {
            font-size: 20px;
        }

        #quiz-section h4 {
            font-size: 18px;
        }

        #score {
            font-size: 20px;
        }
    }

    @media (max-width: 480px) {

        #questions-area {
            padding-top: 10px;
        }

        #question {
            font-size: 14px;
        }

        #quiz-section .btn {
            font-size: 14px;
        }

        #exit-game {
            margin-top: 0;
            font-size: 16px;
        }

        #progress-bar {
            width: 100%;
        }

        #score-display {
            width: 100%;
            margin-top: 5px;
        }
    }

    @media (max-width: 308px) {
        #quiz-section h4 {
            font-size: 14px;
        }
    }

    @media (max-height: 655px) {
        #quiz-section {
            padding: 22px;
        }

        #quiz-section .btn {
            margin: 5px 0;
        }
    }

    @media (max-height: 568px) {
        #quiz-section {
            padding: 18px;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 2rem;
        }

        .modal-footer .btn {
            font-size: 15px;
        }

        p {
            font-size: 15px;
        }

        li {
            font-size: 15px;
        }

        .table th {
            font-size: 1.2rem;
        }
    }

    /* Finish Quiz Section Modal */

    @media (max-width: 420px) {
        #finish-section h2 {
            font-size: 1.45rem;
        }

        #return-home,
        #play-again,
        #save-score {
            width: 100%;
        }
    }